.footer
    padding: 15rem 5rem
    display: flex
    justify-content: space-around
    background-color: $dark-grey
    margin: 0 auto
    color: white
    width: 100%
    position: relative

    +tablet
        flex-direction: column

    &-col-1-4
        p
            margin-bottom: 1rem

            &:not(:first-of-type)
                opacity: .8
        
        i
            font-size: 1.8rem
            color: white
