.header
    width: 100%
    position: relative
    background-color: transparent
    z-index: 100
    padding: 2.5rem 5rem

    +tablet
        padding: 2.5rem 2rem

    &_logo
       background-image: url('../img/codebet_org_cmyk.svg')
       background-repeat: no-repeat
       background-size: contain
       width: 23rem
       height: 4.5rem
       z-index: 1
       position: relative
        
    &_menu

        &-list
            display: inline-flex
            font-size: 1.7rem
            
            +tablet
                display: none

        &-list--item
            position: relative
            list-style: none
            text-decoration: none
            color: $dark-grey
            transition: .3s ease all

            &:not(:last-of-type)
                margin-right: 6rem

            &:hover
                color: $red

            &::after
              content: ""
              position: absolute
              bottom: -1rem
              left: 0
              width: 100%
              height: 3px
              background-color: $red
              transform-origin: center
              transition: ease all .2s
              transform: scale(0)

            &.active
                color: $red

                &::after
                    content: ""
                    position: absolute
                    bottom: -1rem
                    left: 0
                    width: 100%
                    height: 3px
                    background-color: $red
                    transform-origin: center
                    transition: ease all .2s
                    transform: scale(1)
              
            &:hover:after
                transform: scale(1)

        &-list--item:not(:last-of-type)
            margin-right: 5rem


.hamburger 
    cursor: pointer
    z-index: 999
    position: absolute
    top: 4rem
    right: 4rem
    
    p 
        margin-right: 10px
        color: $dark-grey

    +hide_mobile_menu
        display: none

.hamburger:hover .bar2
    transform: translateX(5px)
    transition: ease all .2s

    
.bar1,
.bar2,
.bar3 
    width: 30px
    height: 2px
    background-color: white
    margin: 6px 0
    transition: 0.4s

    +tablet
        background-color: $font_color--primary
    
    +mobile
        background-color: $font_color--primary

    +hide_menu
        background-color: $font_color--primary
    

.bar1,
.bar3,
.change 
    transition-timing-function: cubic-bezier(.17,1.14,.62,.71)
    transition-duration: .1s
  


.change .bar1 
    -webkit-transform: translate(1px, -5px) rotate(45deg)
    transform: translate(1px, -5px) rotate(45deg)
    transform-origin: left


.change .bar2 
    opacity: 0
    transform: translateX(15px)


.change .bar3 
    -webkit-transform: rotate(-45deg) translate(0px, 1px)
    transform: rotate(-45deg) translate(0px, 1px)
    transform-origin: left


.hide-on-mobile 

    +hide_menu
        display: none
  
.swap
    transition: ease all .3s

.mobile_menu
    position: absolute
    flex-direction: column
    top: 0
    right: 0
    width: 100%
    height: 100%
    padding: 2rem
    background-color: $red
    z-index: 0
    text-align: center
    transition: cubic-bezier(0,.45,0,.93) .3s
    opacity: 0

    +hide_mobile_menu
        display: none

    &--item
        list-style: none
        display: inline-flex
        padding: 3rem 2rem
        color: white
        width: 100%
        padding: 4rem 0
        cursor: pointer
        align-items: center
        justify-content: center

        &:hover, &:active
            background-color: darken($red, 5%)
            color: white

.mobile_menu--active
    display: inline-flex
    opacity: 1
    z-index: 6



